body{
    background: green;
}
#a{
    border: solid blue 1pc;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 20px;   
}
#b{
    color: green;
    background: #337ab7;
    padding: 5px;
    margin-left: 69%;
}